# {version}

To start using this module, make sure you have set up Bzlmod according to the [user guide](https://bazel.build/docs/bzlmod), and add the following to your MODULE.bazel file:

```python
bazel_dep(name = "rules_vunit", version = "{version}")
```

Additional documentation can be found at: https://github.com/hw-bzl/rules_vunit
